## --- .NET Core / Build Ordner (Das Wichtigste!) ---
[Bb]in/
[Oo]bj/

## --- JetBrains Rider / IntelliJ ---
.idea/
*.sln.iml
*.user
*.userprefs
*.suo

## --- Avalonia / Spezifisches ---
# Falls Logs erstellt werden
*.log